#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 50px auto;
  padding: 10px;
  border-radius: 8px;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
}
.title h1 {
  font-size: 2rem;
  color: black;
}
.title img {
  width: 80px;
  margin-right: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 3%;
}

form input[type="text"] {
  width: 85%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
}

form input[type="text"]:focus,
form button[type="submit"]:focus {
  outline: none;
}

form button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.todo-listItem {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-content {
  width: 60%;
  color: black;
}

.todo-item button {
  padding: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.todo-item button:focus {
  outline: none;
}

.update-item {
  background-color: goldenrod;
}

.delete-item {
  background-color: red;
}
